<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hey, This is my website!</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque corrupti
      exercitationem odio! Dolor sed, error nobis, laboriosam quam cum et beatae
      repellendus natus repudiandae explicabo quidem exercitationem dolorum qui
      officia.
    </p>
  </body>
</html>
